<style>
    body {
        min-width: 400px;
        overflow-x: hidden;
        font: 11px/1.4 tahoma, verdana, arial, sans-serif;
    }
    h1 {
        color: #273A47;
        font: bold 18px "Helvetica Neue", sans-serif;
        padding-bottom: 5px;
        border-bottom: 2px solid;
        margin-top: 1em;
    }
    div:first-of-type h1 {
        margin-top: 0;
    }
    table {
        width: 100%;
        border-spacing: 0;
    }
    td, th {
        font-size: 11px;
        padding: 0.5em;
    }
    th {
        color: #7E97A7;
        font-weight: normal;
    }
    tr td:nth-child(1) {
        width: 24px;
        text-align: center;
    }
    tr td:nth-child(2) {
        color: #2789CE;
    }
    tr td:nth-child(3),
    tr td:nth-child(4) {
        text-align: center;
        font-weight: bold;
    }
    tr td:nth-child(3) {
        color: #273A47;
    }
    tr td:nth-child(4) {
        color: #8FB600;
    }
    a {
        display: inline-block;
    }
    .heading {
        border-bottom: 1px solid #ccc;
        margin-bottom: 1em;
        font-size: 13px;
        font-weight: bold;
    }
    .button {
        color: #000;
        border: 1px solid;
        -webkit-border-radius: 3px;
        border-color: #BDCAD2;
        background:
            -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(#F8FBFD),
                to(#E1EEF7)
            );
        text-decoration: none;
        padding: 3px 10px 4px;
    }
    .button:hover {
        background:
            -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(#D7ECFA),
                to(#BFE0F7)
            );
    }
    #load {
        text-align: center;
    }
    #load img {
        vertical-align: middle;
        margin-right: 0.5em;
    }
</style>
<p id="load">
    <img src="http://sn2.cdnbf.net/page/images/loader_2337_.gif" alt="">
    Loading&hellip;
</p>
<script src="../bfchrome.inplayfootball.js"></script>
<script>
    BFChrome.InPlayFootball.init();
</script>
